<div class="d-md-flex justify-content-center d-none p-5 fir-sec">
  <p class="fs-3 pt-5">
    <span class="fs-1">OUR GOALS</span><br />
    There are many variations of passag es of Lorem Ipsum available, but the majority have suffered alteration in some
    form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
    passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
  </p>
  <img src="assets/images/blackbigr.webp" alt="" srcset="" />
</div>

<div class="d-md-none d-block sec-sec position-relative">
  <img src="assets/images/blackbigr.webp" alt="" srcset="" />
  <span class="fs-1">OUR GOALS</span><br />
  <!-- overlay -->
  <p class="position-absolute fs-4">
    There are many variations of passag es of Lorem Ipsum available, but the majority have suffered alteration in some
    form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
    passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
  </p>
</div>
