<div class="m-auto">
  <div class="p-5">
    <div class="d-flex justify-content-center">
      <div class="w-full p-2 sections">col</div>
      <div class="w-full p-2 sections">col</div>
      <div class="w-full p-2 sections">col</div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="w-full p-2 sections">col</div>
      <div class="w-full p-2 sections">col</div>
      <div class="w-full p-2 sections">col</div>
      <div class="w-full p-2 sections">col</div>
    </div>
  </div>
</div>
